
  @media (max-width: 375px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
         "content";
        justify-content: space-between;

    
    }
    nav ul {
        display: none;
    }
    footer{
        display: none;
    }
    div{
        display: none;
    }
    aside{
        display: none;
    }
    header{
        display: none;
    }

  }